
nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 1em;
}

 a {
    color: #000;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

main {
    width: 50%;
    margin:6.9em auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 2em;
    border-radius: 20px;
    border: 1px solid grey;
}

.button-container {
    margin-top: 1em;
}

.button-container button {
    padding: 1em;
    border: none;
}

footer{
    background-color: rgb(199, 195, 195);
    padding: 1em;
}


.footer-top {
    padding: 1em;
}

.footer-buttom {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: solid gray;

}

.left a {
    margin-right:1em;
}

.right a {
margin-right: 1em;
}